.atcb-button {
  color: var(--color-primary);
  background-color: rgba(30, 27, 106, 0.05);
  border-radius: 1rem;
  outline: currentColor auto 1px;
  box-shadow: none;
  @include apply-utility('font', 'brandon');
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:focus, &:hover {
    background-color: rgba(30, 27, 106, 0.10);
    box-shadow: none;
  }
}
