.atcb-button {
  color: var(--color-primary);
  background-color: white;
  border-radius: 1rem;
  border: 1px solid currentColor;
  box-shadow: none;
  @include apply-utility('font', 'brandon');
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.atcb-initialized {
  margin-top: 1rem;
}
.atcb-list-wrapper {
  padding: 0;
  width: 186.648px !important;
}
.atcb-button.atcb-active:not(.atcb-modal-style,.atcb-dropoverlay),
.atcb-button.atcb-single:focus, .atcb-button.atcb-single:hover,
.atcb-button.atcb-active:not(.atcb-modal-style,.atcb-dropoverlay):hover {
  background-color: white !important;
  border: 1px solid currentColor;
}
.atcb-list.atcb-light.atcb-generated-button {
  box-shadow: none;
  top: 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
}
.atcb-list {
  background-color: white;
}
.atcb-list-item {
  background: white;
  color: var(--color-primary);
  outline: 0;
  box-shadow: none;
  font-family: 'Brandon Grotesque',sans-serif;
  font-size: .75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 0.75rem !important;
}
.atcb-button,
.atcb-button.atcb-active:not(.atcb-modal-style,.atcb-dropoverlay),
.atcb-button.atcb-single:focus, .atcb-button.atcb-single:hover,
.atcb-list-item {
  &:focus, &:hover {
    background-color: rgba(30, 27, 106, 0.10);
    box-shadow: none;
  }
}
