.nav {
  // font-size: get-size(500);

  &__list {
    flex-wrap: wrap;
  }

  &__item {
    flex-grow: 1;
    text-align: center;

    a {
      color: currentColor;
      display: inline-block;
      line-height: 2.5;
      position: relative;
      text-decoration: none;
      width: 100%;
      word-break: break-word;


      & > .default {
        display: none;

        @include media-query('md') {
          display: inline-block;
        }
      }

      & > .mobile {
        display: inline-block;

        @include media-query('md') {
          display: none;
        }
      }
    }

    &--cta {
      letter-spacing: 2px;
      margin-top: get-size(300);
      width: 100%;
      position: relative;

      @include media-query('md') {
        margin-left: get-size(300);
        margin-top: 0;
        width: auto;
      }

      a {
        background: var(--color-primary);
        color: white;
        padding: 0 2rem !important;

        &:focus, &:hover {
          background: var(--color-highlight);
          color: var(--color-primary);
        }
      }

      span {
        position: absolute;
        top: 2.5rem;
        width: 100%;
        height: 1.4rem;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 0.5px;
        font-size: 0.8em;

        &.extra {
          background: var(--color-highlight);
          border: 1px solid #ddd;
        }
      }
    }
  }
}
