.site-head {
  &__site-name {
    color: var(--color-text);
    display: block;
    font-weight: 700;
    line-height: 1.5;
    padding-top: 0.25rem;
    margin-bottom: get-size(300);
    text-align: center;
    text-decoration: none;
    @include apply-utility('font', 'herbert');

    &:focus, &:hover {
      background: var(--color-theme-highlight);
    }

    @include media-query('md') {
      display: inline-block;
      margin-bottom: 0;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  [aria-current='page'] {
    border-bottom: 1px solid var(--color-primary);
  }

  li {
    @include media-query('md') {
      a {
        padding: 0 .75rem;
      }
    }

    a:focus, &:hover {
      background: var(--color-theme-highlight);
    }
  }
}
