<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <div class="[ intro__blobs ]">
      <div class="blobs left">
        <div class="blob-wrapper">
          <img class="blob purple b" src="/images/blob-09.svg" />
          <img class="blob purple c" src="/images/blob-09.svg" />
          <img class="blob blue-light-2" src="/images/blob-06.svg" />
          <img class="blob purple d" src="/images/blob-09.svg" />
          <img class="blob blue-light-1" src="/images/blob-05.svg" />
          <img class="blob blue-light-3" src="/images/blob-07.svg" />
          <img class="blob blue-intense-1 b" src="/images/blob-04.svg" />
          <img class="blob blue-intense-2" src="/images/blob-08.svg" />
          <img class="blob blue-soft-1 a" src="/images/blob-01.svg" />
          <img class="blob blue b" src="/images/blob-03.svg" />
          <img class="blob blue-soft-2 a" src="/images/blob-02.svg" />
          <img class="blob blue a" src="/images/blob-03.svg" />
          <img class="blob blue-soft-1 b" src="/images/blob-01.svg" />
          <img class="blob blue-intense-1 a" src="/images/blob-04.svg" />
          <img class="blob blue c" src="/images/blob-03.svg" />
          <img class="blob blue-soft-2 b" src="/images/blob-02.svg" />
        </div>
      </div>

      <div class="blobs right">
        <div class="blob-wrapper">
          <img class="blob purple b" src="/images/blob-09.svg" />
          <img class="blob purple c" src="/images/blob-09.svg" />
          <img class="blob blue-light-2" src="/images/blob-06.svg" />
          <img class="blob purple d" src="/images/blob-09.svg" />
          <img class="blob blue-light-1" src="/images/blob-05.svg" />
          <img class="blob blue-light-3" src="/images/blob-07.svg" />
          <img class="blob blue-intense-1 b" src="/images/blob-04.svg" />
          <img class="blob blue-intense-2" src="/images/blob-08.svg" />
          <img class="blob blue-soft-1 a" src="/images/blob-01.svg" />
          <img class="blob blue b" src="/images/blob-03.svg" />
          <img class="blob blue-soft-2 a" src="/images/blob-02.svg" />
          <img class="blob blue a" src="/images/blob-03.svg" />
          <img class="blob blue-soft-1 b" src="/images/blob-01.svg" />
          <img class="blob blue-intense-1 a" src="/images/blob-04.svg" />
          <img class="blob blue c" src="/images/blob-03.svg" />
          <img class="blob blue-soft-2 b" src="/images/blob-02.svg" />
        </div>
      </div>

      <div class="blobs bottom">
        <div class="blob-wrapper">
          <img class="blob purple b" src="/images/blob-09.svg" />
          <img class="blob purple c" src="/images/blob-09.svg" />
          <img class="blob blue-light-2" src="/images/blob-06.svg" />
          <img class="blob purple d" src="/images/blob-09.svg" />
          <img class="blob blue-light-1" src="/images/blob-05.svg" />
          <img class="blob blue-light-3" src="/images/blob-07.svg" />
          <img class="blob blue-intense-1 b" src="/images/blob-04.svg" />
          <img class="blob blue-intense-2" src="/images/blob-08.svg" />
          <img class="blob blue-soft-1 a" src="/images/blob-01.svg" />
          <img class="blob blue b" src="/images/blob-03.svg" />
          <img class="blob blue-soft-2 a" src="/images/blob-02.svg" />
          <img class="blob blue a" src="/images/blob-03.svg" />
          <img class="blob blue-soft-1 b" src="/images/blob-01.svg" />
          <img class="blob blue-intense-1 a" src="/images/blob-04.svg" />
          <img class="blob blue c" src="/images/blob-03.svg" />
          <img class="blob blue-soft-2 b" src="/images/blob-02.svg" />
        </div>
      </div>

      <div class="blobs">
        <div class="blob-wrapper">
          <img class="blob purple b" src="/images/blob-09.svg" />
          <img class="blob purple c" src="/images/blob-09.svg" />
          <img class="blob blue-light-2" src="/images/blob-06.svg" />
          <img class="blob purple d" src="/images/blob-09.svg" />
          <img class="blob blue-light-1" src="/images/blob-05.svg" />
          <img class="blob blue-light-3" src="/images/blob-07.svg" />
          <img class="blob blue-intense-1 b" src="/images/blob-04.svg" />
          <img class="blob blue-intense-2" src="/images/blob-08.svg" />
          <img class="blob blue-soft-1 a" src="/images/blob-01.svg" />
          <img class="blob blue b" src="/images/blob-03.svg" />
          <img class="blob blue-soft-2 a" src="/images/blob-02.svg" />
          <img class="blob blue a" src="/images/blob-03.svg" />
          <img class="blob blue-soft-1 b" src="/images/blob-01.svg" />
          <img class="blob blue-intense-1 a" src="/images/blob-04.svg" />
          <img class="blob blue c" src="/images/blob-03.svg" />
          <img class="blob blue-soft-2 b" src="/images/blob-02.svg" />
        </div>
      </div>

      <div class="noise"></div>
    </div>

    <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
    {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | markdownFilter | safe }}</div>
    {% endif %}
  </div>
</header>
