<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] [ pad-top-700 pad-bottom-700 ">
  <div class="wrapper full-width">
    <span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
    <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
      <a href="/home/" class="[ site-head__site-name ] [ leading-tight ]"{{ 'aria-current=page' if page.url == '/home/' | safe }}>
        <span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
        <span class="[ text-600 ]" aria-hidden="true">{{ site.authorName }}</span>
      </a>
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>
