.page-content {
  display: flex;
  flex-direction: column;

  @include media-query('md') {
    height: 100%;
    flex-direction: row;
  }
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  flex: 0 1 50%;
  position: relative;
  overflow: hidden;
}

.img-col {
  height: 100%;
}

.text-col {
  padding: 3vw;
  flex-direction: column;
  gap: 2vh;
  aspect-ratio: 1;

  @include media-query('md') {
    aspect-ratio: auto;
    gap: 2rem;
  }
}

.img-wrapper {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translateX(-26px) scale(1.1);
  object-position: center 35%;
}

.all-blobs {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.text, .meta {
  position: relative;
  z-index: 1;
  color: white;
}

.text {
  .one, .two {
    position: relative;
    line-height: 1;
    margin-top: 0.25rem;

    &::first-letter {
      font-size: 1.1em;
    }
  }

  .one {
    right: 0.5rem;

    @include media-query('md') {
      right: 1.5rem;
    }
  }

  .two {
    left: 2.5rem;

    @include media-query('md') {
      left: 3.5rem;
    }
  }

  .come, .stay {
    @include apply-utility('font', 'brandon');
    font-size: 1.25rem;
    font-weight: 200;
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.75;

    @include media-query('md') {
      opacity: 0.65;
      font-size: 2rem;
      font-weight: 200;
      left: 7rem;
    }
  }
  .love, .and, .party {
    font-size: 4.5rem;
    @include apply-utility('font', 'herbert');
    position: relative;

    @include media-query('md') {
      font-size: 7rem;
    }
  }
  .come {
    left: 2.7rem;

    @include media-query('md') {
      left: 4rem;
    }
  }
  .and {
    left: 1rem;
    opacity: 0.65;
  }
  .party {
    left: 1rem;
  }
  .stay {
    left: 5.5rem;
    top: -0.25rem;

    @include media-query('md') {
      left: 8rem;
    }
  }
}

.meta {
  .date-and-time, .location {
    text-align: center;
  }

  .date-and-time {
    font-family: 'Herbert';
    font-size: 1.25rem;

    @include media-query('md') {
      font-size: 1.75rem;
    }
  }

  .location {
    font-family: 'Brandon Grotesque';
    font-size: 1.125rem;
    margin-top: 0.5vh;

    @include media-query('md') {
      font-size: 1.5rem;
    }
  }
}
