.landing-wrapper {
  min-height: 100%;
  position: relative;

  a {
    text-decoration: none;
  }
}

.enter {
  font-size: 0.75rem;
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: center;

  > * {
    color: var(--color-dark);
    position: relative;
    display: inline-block;
    background: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    word-break: break-word;
    border-radius: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to left, var(--color-highlight) 50%, white 50%) right;
    background-size: 200% 100%;
    transition: background-position 2s cubic-bezier(0.4, 0, 1, 1);
    font-weight: 500;
    font-family: Brandon Grotesque;

    &:hover {
      opacity: 0.9;
    }

    &:focus {
      outline: 1px solid white;
    }

    &.loading {
      background-position: left;
    }
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.fade-to-white {
  animation: fadeToWhite 6s;
}
@keyframes fadeToWhite {
  0% { filter: brightness(none); }
  100% { filter: brightness(30); }
}

.blobs {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &.left {
    transform: rotate(90deg);
    right: 48rem;
    bottom: 5rem;
  }
  &.left.bottom {
    transform: rotate(268deg);
    right: 48rem;
    top: 46rem;
  }
  &.right {
    transform: rotate(270deg);
    left: 48rem;
    bottom: 5rem;
  }
  &.right.bottom {
    transform: rotate(92deg);
    left: 48rem;
    top: 46rem;
  }
  &.bottom {
    transform: rotate(180deg);
    top: 38rem;
  }
}

.blob-wrapper {
  height: 22rem;
  width: 22rem;
  position: absolute;
}

.blob {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: contrast(1.4);

  &.blue.a {
    bottom: 10rem;
    left: 11rem;
  }
  &.blue.b {
    bottom: 32rem;
    right: 20rem;
    transform: scale(1.7);
  }
  &.blue.c {
    top: 15rem;
    right: 11rem;
    transform: rotate(108deg);
  }
  &.blue-soft-2.a {
    bottom: 22rem;
  }
  &.blue-soft-2.b {
    top: 2rem;
    right: 18rem;
    transform: rotate(-120deg);
  }
  &.blue-soft-1.a {
    top: 35rem;
    transform: rotate(-35deg);
  }
  &.blue-soft-1.b {
    top: 10rem;
    left: 19rem;
    transform: rotate(122deg) skew(-51deg, 7deg) scale(1.2);
  }
  &.blue-intense-2 {
    bottom: 10rem;
    left: 8rem;
    transform: scale(1.9, 1.3) rotate(-2deg);
  }
  &.blue-intense-1.a {
    top: 25rem;
    left: 14rem;
    transform: rotate(212deg) scale(0.8);
  }
  &.blue-intense-1.b {
    top: 30rem;
    right: 19rem;
    transform: scale(1.8);
  }
  &.blue-light-3 {
    top: 15rem;
    left: 22rem;
    transform: scale(1.3) rotate(150deg) skew(-26deg, 42deg);
  }
  &.blue-light-2 {
    bottom: 10rem;
    right: 24rem;
  }
  &.blue-light-1 {
    bottom: 32rem;
    left: 4rem;
  }
  &.purple.d {
    left: 1rem;
    bottom: 2rem;
    transform: scale(1.8) rotate(-98deg);
  }
  &.purple.c {
    bottom: 24rem;
    left: 20rem;
  }
  &.purple.b {
    top: 22rem;
    left: 4rem;
  }
}

.noise {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/images/noise.svg");
  opacity: 0.4;
  background-color: rgba(0,0,0,0.5);
}

.date-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 42rem;
  position: relative;
  height: 100vh;
  flex-direction: column;

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}

.spacer {
  visibility: hidden;
}

.date {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 2rem;
  flex-grow: 1;

  &:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
  }
}

@media screen and (min-width: 34rem) {
  .date {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 3rem 6rem;
  }
}

.date-inner {
  height: 100%;
  width: 100%;
  background: url(/images/date.svg) no-repeat center;
}
