{% extends 'layouts/base.njk' %}
{% set showHeader = true %}
{% set showFooter = false %}

{% block content %}
  <main class="home" id="main-content" tabindex="-1">
    {{ content | safe }}
  </main>
{% endblock %}

{{ content | safe }}
